* {
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(0, 0, 0);
}

/* ---------------------------------------HERO SECTION------------------------ */

.hero_container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
    padding: 0 5%;
    box-sizing: border-box;

}

.left_content {
    max-width: 45%;
}

.heading {
    font-size: 4rem;
    color: wheat;
    letter-spacing: 2.5px;
    margin-bottom: 40px;
}

.para {
    font-size: 1.1rem;
    word-spacing: 3px;
    color: wheat;
    margin-bottom: 30px;
}

model-viewer {
    width: 99vw;
    height: 20vw;
}

/* Media Queries HERO SEC */
@media (max-width : 780px) {
    .hero_container {
        flex-direction: column-reverse;
        align-items: center;
    }

    .left_content {
        max-width: 90%;
        text-align: center;
    }

    .heading {
        font-size: 2.8rem;
    }

    .para {
        font-size: 1rem;
        margin-bottom: 20px;
    }

    model-viewer {
        width: 100vw;
        height: 50vh;
    }
}