* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Trebuchet MS', sans-serif;
  background-color: #1a0000;
}

/* ---------NAV BAR ---------- */

/* NAVBAR */
.navbar {
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: 85%;
  max-width: 1200px;
  background: rgba(26, 0, 0, 0.6);
  /* same tone as body, transparent */
  backdrop-filter: blur(10px);
  border: 1.2px solid #ff6f00;
  border-radius: 39px;
  padding: 10px 20px;
  z-index: 1000;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* will be a image */
/* .nav-logo {
  font-size: 1.8rem;
  font-weight: bold;
  color: #ffd54f;
  text-shadow: 0 0 10px #ff6f00aa;
} */

.nav-links {
  list-style: none;
  display: flex;
  gap: 2rem;
  margin: 0;
  padding: 0;
}

.nav-links li a {
  color: #fff8e1;
  text-decoration: none;
  font-weight: 500;
  position: relative;
  transition: color 0.3s;
}

.nav-links li a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0%;
  height: 2px;
  background: #ff6f00;
  transition: 0.3s;
}

.nav-links li a:hover {
  color: #ff6f00;
}

.nav-links li a:hover::after {
  width: 100%;
}

.nav-toggle {
  display: none;
  font-size: 1.8rem;
  color: #ff6f00;
  cursor: pointer;
}

/* Mobile Responsive for nav */
@media (max-width: 768px) {
  .nav-toggle {
    display: block;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    background: rgba(26, 0, 0, 0.9);
    border-radius: 10px;
    padding: 15px;
    position: absolute;
    top: 60px;
    right: 20px;
    width: 180px;
    gap: 1rem;
  }

  .nav-links.show {
    display: flex;
  }
}

/* ---------------------------------------------------------------------- */

/* ---------------------------------------HERO SECTION------------------------ */

.hero_container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
  padding: 6px 5%;
  box-sizing: border-box;
}

.left_content {
  max-width: 40%;
}

.heading {
  font-size: 4.8rem;
  color: #ffebc1;
  letter-spacing: 2.5px;
  margin-bottom: 40px;
  transform: all 0.3 ease-in;
  text-shadow:
    0 0 10px #ff6f00,
    0 0 25px #d84315,
    0 0 45px #ff5722;
}

.para {
  font-size: 1.1rem;
  word-spacing: 3px;
  color: #eeca90;
  margin-bottom: 30px;
  transform: all 0.3 ease-in;
}

model-viewer {
  width: 109vw;
  height: 35vw;
}

/* Media Queries HERO SEC */
@media (max-width : 780px) {
  .hero_container {
    flex-direction: column-reverse;
    align-items: center;
  }

  .left_content {
    max-width: 90%;
    text-align: center;
  }

  .heading {
    font-size: 4.5rem;
    padding-bottom: 0;
    margin: 5px;
  }

  .para {
    font-size: 1rem;
    margin-bottom: 19px;
  }

  model-viewer {
    padding-top: 16vw;
    width: 85vw;
    height: 50vh;
  }
}


/*-------- enquiry_btn ----- */

.enquiry_btn {
  color: #eeca90;
  background: transparent;
  padding: 10px 25px;
  border-radius: 16px;
  font-size: 16px;
  font-weight: bolder;
  border: 1.4px solid #ff6f00;
  cursor: pointer;
  transition: all 0.1s ease;
  box-shadow: 0 0 5px #ff6f00aa;
}

.enquiry_btn:hover {
  color: #1a0000;
  background: #ff892f;
  box-shadow: 0 0 25px #ff6f00aa;
}

/* ------------MENU-------------- */

.menu_heading {
  font-size: 2rem;
  color: #ff7043;
  letter-spacing: 4px;
  padding-top: 12%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 0 0 9px #d6951e;
}


.menu_container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 5%;
  box-sizing: border-box;
}

.menu_items {
  max-width: 40%;
}

.menu_img{
  
}